/ModeloDatos/target/
# Sistema operativo - macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
/Vista/target/
/FullCup/target/
/Dominio/target/
ModeloDatos/src/main/resources/META-INF/persistence.xml
ModeloDatos/src/main/resources/META-INF/persistence.xml
ModeloDatos/src/main/resources/META-INF/persistence.xml
